<?xml version="1.0" encoding="UTF-8"?>
<!--<settings>-->
<!--&lt;!&ndash;    <unroundedViews>&ndash;&gt;-->
<!--    <setting category="notifications">0px</setting>-->
<!--&lt;!&ndash;    </unroundedViews>&ndash;&gt;-->
<!--</settings>-->

<settings>
    <setting>
        <name>UN_ROUNDED_VIEWS</name>
        <value>true</value>
    </setting>
    <setting>
        <name>UN_ROUNDED_LINK_WINDOWS</name>
        <value>true</value>
    </setting>
    <setting>
        <name>UN_ROUNDED_EXPANDING_HOVER</name>
        <value>true</value>
    </setting>
    <setting>
        <name>PROPER_DATES</name>
        <value>true</value>
    </setting>
    <setting>
        <name>SUBSCRIBE_BUTTON_COLOR</name>
        <value>true</value>
    </setting>
    <setting>
        <name>SAVE_VISIBLE_BEFORE_CLIP</name>
        <value>true</value>
    </setting>
    <setting>
        <name>SHOW_VIDEO_LENGTH_IN_NOTIFICATIONS</name>
        <value>false</value>
    </setting>
    <setting>
        <name>PERCENT_MORE_SPACE_TO_ACTIONS_BAR</name>
        <value>false</value>
    </setting>
</settings>