:root{
<<<<<<< HEAD:injection_parts/primary/homepage_videos_per_row.css
    --return-youtube-ui-videos-per-row: 4; /* YouTubes current default */
=======
    --return-youtube-ui-videos-per-row: -1;
>>>>>>> origin/releases:injection_parts/return/homepage_videos_per_row.css
}

/*Code basis for videos per homepage is from https://webapps.stackexchange.com/a/160600*/
ytd-rich-grid-renderer {
    margin: 8px;
    --ytd-rich-grid-items-per-row: var(--return-youtube-ui-videos-per-row) !important;
}
#contents > ytd-rich-grid-row,
#contents > ytd-rich-grid-row > #contents {
    display: contents;
}