/*Main Player*/
#movie_player{
    border-radius: 0;
}
/*Apply border radius*/
.ytp-cued-thumbnail-overlay-image {
    border-radius: 2px;
}

ytd-player, #ytd-player{
    border-radius: 2px !important;
}

/*Shorts Main Player*/
#player-container{
    border-radius: 0;
}