/*THUMBNAILS*/
#thumbnail, .yt-thumbnail-view-model.yt-collection-thumbnail-view-model--has-stacks{
    border-radius: 0 !important;
}
.ytp-videowall-still-round-medium, .ytp-videowall-still-image{
    /*background-color: orange !important;*/
    border-radius: 0 !important;
}
/*THUMBNAILS FOR PLAYLIST STACKS*/
div[class^="collections-stack-wiz__collection-stack1"] {
    width: calc(100% - 8px);
    left: 4px;
    right: 4px;
    border-radius: 0;
}
div[class^="collections-stack-wiz__collection-stack2"] {
    width: calc(100% - 16px);
    left: 8px;
    right: 8px;
    border-radius: 0;
}

/*SHORTS*/
.shortsLockupViewModelHostThumbnailContainer{
    border-radius: 0;
}

/*MINIPLAYER*/
#video-preview-container.ytd-video-preview{
    border-radius: 0;
}
/*Miniplayer on bottom right of screen*/
video.video-stream.html5-main-video{
    border-radius: 0 !important;/*Required*/
}

#modern-card.ytd-miniplayer{
    border-radius: 2px !important;/*Required*/
}

/*When hovering layer*/
.ytp-miniplayer-scrim{
    border-radius: 0 !important;/*Required*/
}

/*Main Video On Channel Pages*/
ytd-channel-video-player-renderer[rounded] #player.ytd-channel-video-player-renderer{
    border-radius: 0;
}

/*THUMBNAILS INSIDE NOTIFICATIONS BELL*/
div.thumbnail-container.style-scope.ytd-notification-renderer{
    border-radius: 0;
}

/* END CARDS in the video */
.ytp-ce-element.ytp-ce-video{
    border-radius: 0 !important;
}
.ytp-ce-element.ytp-ce-playlist{
    border-radius: 0 !important;
}


/* Website link windows inside the player that show up during playtime (they expand after being hovered over) */
.ytp-ce-video.ytp-ce-medium-round, .ytp-ce-playlist.ytp-ce-medium-round, .ytp-ce-medium-round .ytp-ce-expanding-overlay-background {
    -webkit-border-radius: 0px !important;/*Required*/
    -moz-border-radius: 0px !important;/*Required*/
    border-radius: 0px !important;/*Required*/
}

/*Next video preview button hold*/
/*Outer Element*/
.ytp-tooltip.ytp-rounded-tooltip.ytp-text-detail.ytp-preview.ytp-bottom{
    border-radius: 6px;
}
/*Thumbnail*/
.ytp-tooltip.ytp-rounded-tooltip.ytp-text-detail.ytp-preview.ytp-bottom > .ytp-tooltip-bg{
    border-radius: 2px;
}

/*Next video preview from autoplay*/
.ytp-autonav-endscreen-upnext-thumbnail.rounded-thumbnail{
    border-radius: 0 !important;
}

/* From <Creator> (i) cards*/
.iv-card.ytp-rounded-info{
    border-radius: 0 !important;
}