/*PLAYLIST LIST*/
.style-scope.ytd-playlist-panel-renderer{
    border-radius: 0 !important;/*Required !*/
    /*    TODO: Make option for border-color #292929*/
}
ytd-playlist-video-renderer{
    border-radius: 0;
}

/*PLAYLIST LEFT SIDE OF LIST*/
.page-header-view-model-wiz--display-as-sidebar .page-header-view-model-wiz__page-header-background {
    border-radius: 2px;
}
/*PLAYLIST Hover elements on the list*/
yt-content-preview-image-view-model{
    border-radius: 0 !important;
}


/*START Popup Menus*/
/*SAVE & SHARE*/
.ytd-popup-container{
    border-radius: 0 !important;
}
/*END Popup Menus*/

/*PLAYER SETTINGS*/
.ytp-settings-menu{
    border-radius: 4px !important;
}

/*START OFFER MODULE (Watch on YouTube - "Buy")*/
ytd-tvfilm-offer-module-renderer{
    border-radius: 0;
}
#header.style-scope.ytd-universal-watch-card-renderer{
    border-radius: 0 !important;
}
/*END OFFER MODULE*/

/*YOUR WATCH HISTORY IS OFF NOTICE*/
#dismissible{
    border-radius: 2px !important;
}

/*Left sidebar options (Home, Subscriptions, Etc - given less harsh corners*/
ytd-guide-entry-renderer.style-scope.ytd-guide-section-renderer, #endpoint.yt-simple-endpoint.style-scope.ytd-guide-entry-renderer{
    border-radius: 5px !important;
}
