ytd-rich-grid-renderer{
    --ytd-rich-grid-items-per-row: 4 !important;/*Required*/
    --ytd-rich-grid-posts-per-row: 4 !important;/*Required*/
    --ytd-rich-grid-slim-items-per-row: 8 !important;/*Required*/
    --ytd-rich-grid-game-cards-per-row: 8 !important;/*Required*/
}

ytd-rich-item-renderer.style-scope, .ytd-rich-grid-row{
    items-per-row: 4 !important;
}
ytd-rich-grid-renderer.style-scope.ytd-two-column-browse-results-renderer{
    --ytd-rich-grid-items-per-row: 4 !important;
    --ytd-rich-grid-posts-per-row: 4 !important;
    --ytd-rich-grid-slim-items-per-row: 8 !important;
    --ytd-rich-grid-game-cards-per-row: 8 !important;
}
