/*THUMBNAILS*/
#thumbnail{
    border-radius: 0 !important;
}
.ytp-videowall-still-round-medium .ytp-videowall-still-image{
    /*background-color: orange !important;*/
    border-radius: 0;
}

/*FEEDBACK BUTTONS (remove background line to get corners)*/
[aria-label='Share'], [aria-label='Dislike this video'], [aria-label^='like this video along with '], [aria-label$=' likes'], [aria-label='Clip'], [aria-label='Save to playlist']{
    border-radius: 0 !important;
    background: none !important;
}

/*Three dot more options menu*/
[aria-label='More actions']{
    border-radius: 0;/* Not really necessary, just there for consistency. Makes it easier to click */
    background-color: transparent !important; /*required !*/
}

/*Popup Menus*/
/*SAVE & SHARE*/
.ytd-popup-container{
    border-radius: 0 !important;
}

/*SUBSCRIBE THINGS*/
/*[aria-label^='Subscribe to ']{*/
/*    border-radius: 2px;*/
/*}*/
/*[aria-label^='Unsubscribe from ']{*/
/*    border-radius: 2px;*/
/*}*/

/*PLAYLIST LIST*/
.style-scope.ytd-playlist-panel-renderer{
    border-radius: 0 !important;/*Required !*/
/*    TODO: Make option for border-color #292929*/
}
/*MINIPLAYER*/
/*#video-preview-container{*/
/*ytd-video-preview[rounded-container]*/
/*#video-preview-container.ytd-video-preview{*/
.ytd-video-preview{
    border-radius: 0 !important;
}

/*MAIN VIDEO*/
video{
    border-radius: 0;
}

/*When hovering layer*/
.ytp-miniplayer-scrim{
    border-radius: 0;
}

/*PLAYER SETTINGS*/
.ytp-settings-menu{
    border-radius: 0 !important;
}


/*THUMBNAILS INSIDE NOTIFICATIONS BELL*/
div .thumbnail-container.style-scope.ytd-notification-renderer{
    border-radius: 0;
}

/* END CARDS in the video, //TODO: For some reason not working, fix, using js method for now*/
.ytp-ce-covering-overlay{
    border-radius: 0 !important;
}

/*OFFER MODULE (Watch on YouTube - "Buy")*/
ytd-tvfilm-offer-module-renderer{
    border-radius: 0;
}
