/*THUMBNAILS*/
#thumbnail{
    border-radius: 0 !important;
}
.ytp-videowall-still-round-medium, .ytp-videowall-still-image{
    /*background-color: orange !important;*/
    border-radius: 0 !important;
}

/*MINIPLAYER*/
#video-preview-container.ytd-video-preview{
    border-radius: 0;
}
/*Miniplayer on bottom right of screen*/
video.video-stream.html5-main-video{
    border-radius: 0 !important;/*Required*/
}
/*When hovering layer*/
.ytp-miniplayer-scrim{
    border-radius: 0 !important;/*Required*/
}

/*MAIN VIDEO*/
video{
    border-radius: 0;
}

/*THUMBNAILS INSIDE NOTIFICATIONS BELL*/
div.thumbnail-container.style-scope.ytd-notification-renderer{
    border-radius: 0;
}

/* END CARDS in the video */
.ytp-ce-element.ytp-ce-video{
    border-radius: 0 !important;
}
.ytp-ce-element.ytp-ce-playlist{
    border-radius: 0 !important;
}

/* From <Creator> (i) cards*/
.iv-card.ytp-rounded-info{
    border-radius: 0;
}
