/*
The starting point of this file started as a fork from the example repository in
https://github.com/mdn/webextensions-examples/tree/master/beastify (choose_beast.css)
*/

html, body {
  width: 210px;
  /*font-family: Segoe UI, system-ui;*/
  /*padding: 3%;*/
  font-family: Gotham, system-ui;
  margin-top: -5px;
  border-radius: 0;
  text-align: justify;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.smaller {
  font-size: 0.7em;
}

button:hover {
  /*background-color: #CFF2F2;*/
  --alpha: 1;
}

button[type="callFunction"] {
  background-color: #FBFBC9;
}

button[type="callFunction"]:hover {
  /*background-color: #EAEA9D;*/
}

#titlePage{
  text-align: center;
}

#error-content{
   padding-left: 2%;
  padding-right: 2%;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #ff3349ff;
}
/*MORE SPECIFIC SELECTIONS*/
#popup-content h3{
  text-align: center;
  margin-top: 3px;
  margin-bottom: 2px;
  text-decoration: underline;
}

/*CODE FROM https://dev-bay.com/css-ul-custom-bullet-style-with-image/*/
.homepageLink {
  padding-left: 0;
  list-style: none;
}
.homepageLink li {
  position: relative;
  padding-left: 20px;
}
.homepageLink li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.homepageLink .githubHomepage li:before {
  background-image: url('/icons/github-mark.png');
}
/*.firefoxHomepage .homepageLink li:before {*/
.homepageLink .firefoxHomepage li:before {
  background-image: url('/icons/Fx-Browser-icon-fullColor.svg');
}
